html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(245deg, pink, #f9e0ff);
}
.container{
  padding:20px
}
ul{
  list-style: none;
  padding: 10px;
}
li:hover, input:hover{
  cursor: pointer;
  transform: scale(1.05);
}
button{
  border-radius: 5px;
  width: 150px;
  height: 30px;
  background: purple;
  color:white;
  cursor: pointer;
}
label{
  padding: 5px;
}

